#Data Science Notebook 1

## My Name is Hanan Jatoi

1.   Id = FA21-BSCS-0012
2.   Department =Computer Science
3.   University= MAJU

In this notebook, we explore some of the popular tools, languages, and libraries used in the field of Data Science. This also includes examples of basic arithmetic operations and data formatting.

## Popular Languages for Data Science
Some of the commonly used languages in Data Science are:
- Python
- R
- SQL
- Julia
- Scala

## Commonly Used Libraries in Data Science
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

## Data Science Tools

| Category           | Tool              |
|--------------------|-------------------|
| Data Analysis      | Pandas            |
| Data Visualization | Tableau, Matplotlib |
| Machine Learning   | Scikit-learn, TensorFlow |
| Big Data           | Apache Spark      |
| Version Control    | Git, GitHub       |

## Arithmetic Expression Examples
Below are examples of simple arithmetic expressions like multiplication and addition.

In [1]:
# This will multiply and add numbers
result = (3 * 4) + 5
result

17

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
- Understand tools used in Data Science
- Learn key programming languages
- Explore popular libraries
- Perform arithmetic in code cells
- Share notebooks on GitHub

## Author : Hanan Jatoi